@import "bourbon";
@import "base/base";
@import "neat";

body {
  @include grid-container;
  @include grid-column;
  font-family: $font-stack-system;
  h1{
    color:grey
  }
  nav{
    padding: 1em;
    button{

    }
  }
  div{
    background-color: $light-gray;
    padding: 2em;
    margin: .2em;
    @include border-bottom-radius(2px);
    @include grid-column(4);
    form{
      p{
        label{
          input{
          }
        }
      }
    }
  }

}
